@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::after,*,::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
